<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebServiceDatabase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WebServiceDatabase.CronusWebServiceBehavior">
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceDebug includeExceptionDetailInFaults="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="WebServiceDatabase.CronusWebServiceBehavior" name="WebServiceDatabase.CronusWebService">
                <endpoint address="" binding="basicHttpBinding" contract="WebServiceDatabase.ICronusWebService">
                    <identity>
                        <dns value="localhost"/>
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WebServiceDatabase/CronusWebService/"/>
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup><applicationSettings>
        <WebServiceDatabase.Properties.Settings>
            <setting name="WebServiceDatabase_localhost_Service" serializeAs="String">
                <value>http://localhost:52485/Service.asmx</value>
            </setting>
        </WebServiceDatabase.Properties.Settings>
    </applicationSettings>
</configuration>
