<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="BookARoom.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <BookARoom.Properties.Settings>
      <setting name="autoGenerateColumnsDefault" serializeAs="String">
        <value>True</value>
      </setting>
    </BookARoom.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BookARoomWebServiceSoap" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="ServiceSoap" />
        <binding name="CronusWebServiceSoap" maxBufferPoolSize="20000000"
          maxBufferSize="20000000" maxReceivedMessageSize="20000000" />
        <binding name="WebServiceUppgift2__1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:59180/BookARoomWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="BookARoomWebServiceSoap"
        contract="ServiceReferenceBookARoom.BookARoomWebServiceSoap"
        name="BookARoomWebServiceSoap" />
      <endpoint address="http://localhost:52485/Service.asmx" binding="basicHttpBinding"
        bindingConfiguration="ServiceSoap" contract="ServiceReferenceCronus.ServiceSoap"
        name="ServiceSoap" />
      <endpoint address="http://localhost:58882/CronusWebService.asmx"
        binding="basicHttpBinding" bindingConfiguration="CronusWebServiceSoap"
        contract="ServiceReferenceCronus2.CronusWebServiceSoap" name="CronusWebServiceSoap" />
      <endpoint address="http://localhost:52383/WebServiceUppgift2.1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebServiceUppgift2__1Soap"
        contract="ServiceReferenceFile.WebServiceUppgift2__1Soap" name="WebServiceUppgift2__1Soap" />
    </client>
  </system.serviceModel>
</configuration>